<div class="jumbotron">
    <center>
        <h1>
            Welcome to Launchpad's Pizza
        </h1>
        <img src="https://cuponassets.cuponatic-latam.com/backendCl/uploads/imagenes_descuentos/121148/b5716320d091f59bca6d0043ecdbeba1dcd867a0.XL2.jpg" alt="launchpad's pizza">
        <br>
        <%= link_to "Check out our Pizzas", pizzas_path, class:"btn btn-default"%>
    </center>
</div>